.toggle .header {
    display: block;
    clear: both;
    margin-bottom: 20px; 
}

.toggle .header:after {
    content: " ▶";
    display: block;
    margin-top: 10px;

}

.toggle .header.open:after {
    content: " ▼";
    display: block;
    margin-top: 10px;
}

.rst-content p.rubric {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 120%;
}