.toggle .header {
    display: block;
    clear: both;
    margin-bottom: 20px; 
}

.toggle .header:after {
    content: "➝ Раскрыть";
}

.toggle .header.open:after {
    content: "↓ Скрыть";
}

.rst-content p.rubric {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 120%;
}