.wy-side-nav-search {background-color: #ff6000}
.wy-nav-content {
   max-width: 1200px !important;
}

.highlight .hll { background-color: #ff8000 }
.highlight  { background: #ffffff; }
.highlight .pre { font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono' }
.highlight .pre { font-size: 13px; }
.highlight .c { color: #F56511 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #F56511 } /* Comment.Multiline */
.highlight .cp { color: #F56511 } /* Comment.Preproc */
.highlight .c1 { color: #F56511 } /* Comment.Single */
.highlight .cs { color: #F56511 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #F56511 } /* Keyword.Constant */
.highlight .kd { color: #F56511 } /* Keyword.Declaration */
.highlight .kn { color: #F56511 } /* Keyword.Namespace */
.highlight .kp { color: #F56511 } /* Keyword.Pseudo */
.highlight .kr { color: #F56511 } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #F56511 } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */